<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" style="transform: scale(1, -1)">
	<path fill="none"
	      [attr.stroke]="chartColor"
	      [attr.stroke-width]="chartWidth"
	      [attr.d]="points | pathShaper:step">
	</path>
	<g *ngIf="showPoints">
		<circle *ngFor="let point of points; let pointIdx = index"
		        class="point"
		        [attr.fill]="pointsColor"
		        [attr.cx]="(pointIdx + 1) * step"
		        [attr.cy]="point"
		        [attr.r]="pointRadius">
		</circle>
	</g>
</svg>
